*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: sans-serif;
}

body{
    background-color: #32363e;
    display: grid;
    justify-content: center;
}
h1{
    text-align: center;
    margin: 40px 40px;
    color: white;
}
.to_contener{
     width: 800px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 30px;
        background-color:#32363e;
        border: 1px solid black;
        box-shadow: 5px 5px 15px rgb(0, 0, 0);
      
}
#to_list ul{
    font-size: 25px;
    color:black;
    display: flex;
    justify-content: space-between;
background-color: white;
padding: 13px;
max-width: 100%;
word-wrap: break-word;
border-radius: 10px;
margin: 15px;

}
#to_list i{
    cursor: pointer;
}

.add_button{
    margin-bottom: 40px;
    display: flex;
    
    justify-content: center;
}
.add_button input{
    width: 400px;
    height: 50px;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    border-right-color:black ;
    font-size: 17px;
    border: 1px solid white;
    background-color:white;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.899);
}
.add_button button{
    padding: 10px;
    height: 50px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    font-weight: 700;
    border-radius: 0px 20px 20px 0px;
    border-left-color: white;
    background-color: rgb(0 128 128);
}